Helios Executor.json
{
  "name": "Helios Executor",
  "nodes": [
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.CurrentDateTime }}",
        "format": "custom",
        "customFormat": "H",
        "outputFieldName": "current_hour",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1088,
        5072
      ],
      "id": "9bc26491-a589-4bb6-a9e3-69224eb521dd",
      "name": "ExtractHour"
    },
    {
      "parameters": {
        "resource": "state",
        "entityId": "input_boolean.helios_ai_mode"
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        496,
        5072
      ],
      "id": "906b6f85-5fad-4ffa-bf2a-f37d2d04530c",
      "name": "AutomationToggle",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9f3ea033-0530-4d5b-848c-884823ae3638",
              "leftValue": "={{ $json.state }}",
              "rightValue": "on",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "9bd482fe-2150-4d70-bbb2-30fe0045322d",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        5072
      ],
      "id": "102aa93c-7a4e-4f53-bb1b-df1d03619693",
      "name": "IsAutomationOn"
    },
    {
      "parameters": {
        "outputFieldName": "CurrentDateTime",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        912,
        5072
      ],
      "id": "3fea0011-8054-4744-b7a8-a349959653df",
      "name": "Get Date & Time"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DEYwtxxsfbUFGa4R",
          "mode": "list",
          "cachedResultName": "Gather HA States"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1296,
        5072
      ],
      "name": "Call Gather HA States",
      "id": "11154f7f-3057-49cd-a3db-3e88b2611ddb"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "select",
        "service": "select_option",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "select.inverter_work_mode"
            },
            {
              "name": "option",
              "value": "Export First"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4224,
        2848
      ],
      "id": "0057f0b3-5c46-4359-86cd-dd954f582232",
      "name": "Work Mode Export",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "select",
        "service": "select_option",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "select.inverter_work_mode"
            },
            {
              "name": "option",
              "value": "Zero Export To CT"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4224,
        3008
      ],
      "id": "cbb84c16-7d36-41f6-8f30-ebabefd90869",
      "name": "WorkModeZeroExport",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "Manual selling from grid activated {{ $now.format('HH:mm') }} "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4416,
        2848
      ],
      "id": "6d8fc9d2-ed59-44e2-b2e8-50c32b43420b",
      "name": "NotifySelling",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "Stopped Manual selling to grid {{ $now.format('HH:mm') }} "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4416,
        3008
      ],
      "id": "e995c0e4-afd8-4ce8-ab5e-160b92674b0f",
      "name": "StoppedSelling",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9bcc8c3-33be-4184-bd57-4dabe402d321",
              "leftValue": "={{ $('Call Gather HA States').item.json.manual_override }}",
              "rightValue": "on",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        5072
      ],
      "id": "18359b89-224d-476b-9479-186173de6f50",
      "name": "If Manual Override"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "033a7208-96ff-4c46-8c73-b56fd26bfbf1",
              "leftValue": "={{ $('Call Gather HA States').item.json.manual_sell_1h }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3760,
        2928
      ],
      "id": "7273a399-9929-47a6-b0b7-9ba1757413cb",
      "name": "If Manual Sell Active"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18d5d373-628b-40ce-a38c-90e5c2162291",
              "leftValue": "={{ $('Call Gather HA States').item.json.WorkMode.state }}",
              "rightValue": "Export First",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4000,
        2832
      ],
      "id": "0bfcb7f7-a54d-4367-a2eb-1fc73e794ba3",
      "name": "If Already Exporting"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "033a7208-96ff-4c46-8c73-b56fd26bfbf1",
              "leftValue": "={{ $('Call Gather HA States').item.json.water_heater_boost_1h }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3760,
        3392
      ],
      "id": "ce4d0e07-a407-479d-ac20-ca597cf56509",
      "name": "If Manual Heating Active"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18d5d373-628b-40ce-a38c-90e5c2162291",
              "leftValue": "={{ Number($('Call Gather HA States').item.json.vvbtemp.state) }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4000,
        3296
      ],
      "id": "4ec37cf9-03f9-4ef9-b579-1062db8d1094",
      "name": "If Already Heating"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "Manual Heating Activated {{ $now.format('HH:mm') }} "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4416,
        3312
      ],
      "id": "1745ca95-991e-4a88-8480-44b61999415c",
      "name": "Notify Heating",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "Stopped Manual Heating {{ $now.format('HH:mm') }} "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4416,
        3472
      ],
      "id": "ff9282e8-906e-4acd-a59b-d688e4f75dd4",
      "name": "Notify Stopped",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "upsert",
        "entityId": "input_number.vvbtemp",
        "state": "40"
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4224,
        3472
      ],
      "id": "032a06e6-b58b-4a3c-a007-c0143a54bafe",
      "name": "Stop Heating",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "upsert",
        "entityId": "input_number.vvbtemp",
        "state": "70"
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4224,
        3312
      ],
      "id": "c62a3e76-5dc6-4b1d-af33-cf4d59fb7934",
      "name": "Heat70",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "18d5d373-628b-40ce-a38c-90e5c2162291",
              "leftValue": "={{ $('Call Gather HA States').item.json.vvbtemp.state }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4000,
        3488
      ],
      "id": "e3fdd792-0667-4556-b0c1-5d394989ac4d",
      "name": "If Heating Cleanup Needed?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18d5d373-628b-40ce-a38c-90e5c2162291",
              "leftValue": "={{ $('Call Gather HA States').item.json.WorkMode.state }}",
              "rightValue": "Export First",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4000,
        3024
      ],
      "id": "716e31ff-947b-4374-aeaf-87b785fc9707",
      "name": "If Sell Cleanup Needed?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.charge_enabled === true }}",
                    "rightValue": "={{ Number($('ExtractHour').item.json.current_hour) }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "a5a5ab75-535a-4043-923c-9dd8f9f1ee2a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Grid Charge"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cb7a0052-7ff8-4fc8-8c96-853fcdca29ac",
                    "leftValue": "={{ $json.export_enabled === true }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Export"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "184094d4-1212-440a-84ed-24b431cd3a19",
                    "leftValue": true,
                    "rightValue": "0",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Water Heater"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "78e34a17-eaeb-4e13-9414-0f048e9890a6",
                    "leftValue": true,
                    "rightValue": 0,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SoC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5bc80d4c-22a9-404c-becb-1abe5de96534",
                    "leftValue": "={{ $json.charge_enabled === false && $json.export_enabled === false && $json.water_enabled === false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Stop"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3264,
        5008
      ],
      "id": "9477061f-4377-42d4-bc22-a001bbfe1ee0",
      "name": "Execute Current Action"
    },
    {
      "parameters": {
        "content": "## AI Heat",
        "height": 432,
        "width": 1088,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        4592
      ],
      "typeVersion": 1,
      "id": "3b077432-6224-44f8-8c8a-ece2e66e76f1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "898b1f2e-011c-46d9-9c6f-ba0f537dcd10",
              "leftValue": "={{ Number($('Call Gather HA States').item.json.vvbtemp.state) }}",
              "rightValue": "={{ $json.water_temp }}",
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3840,
        4736
      ],
      "id": "10da430e-5368-4c6e-8172-4c954f3753a6",
      "name": "Check If Change Needed"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "=🔥Water Heater Activated {{ $now.format('HH:mm') }} {{ $('Call Gather HA States').item.json.VVBTemp }}C"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4624,
        4656
      ],
      "id": "18a7361e-a64e-4648-9e28-a713a5ed4e1a",
      "name": "Notify Heating2",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "=❄️ Stopped Heating Water at:{{ $now.format('HH:mm') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4624,
        4832
      ],
      "id": "d0d1e88a-04b7-43e9-a624-087f85ff64c6",
      "name": "Notify Stopped2",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "upsert",
        "entityId": "input_number.vvbtemp",
        "state": "={{ $json.water_temp }}"
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4432,
        4656
      ],
      "id": "5f946fa1-b9c0-4978-aa97-0bcec3fda1b5",
      "name": "SetWaterHeaterTarget",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "upsert",
        "entityId": "input_number.vvbtemp",
        "state": "40"
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4432,
        4832
      ],
      "id": "71703562-ee7a-4792-ad5f-703af1ae3e15",
      "name": "DisableWaterHeater",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "665ea6e9-06e6-453e-860e-7d1f88293589",
              "leftValue": "={{ $json.water_temp }}",
              "rightValue": "={{ Number($('Call Gather HA States').item.json.vvbtemp.state) }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4208,
        4736
      ],
      "id": "13213840-1411-4091-939a-bcb97ff7cd04",
      "name": "Check Direction"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "soc_change_check",
              "leftValue": "={{ Number($('Call Gather HA States').item.json.master_soc_target.state) }}",
              "rightValue": "={{ $('Controller').item.json.soc_target }}",
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6087f8ab-dd56-49e6-b3fc-6322e36ae911",
      "name": "Check If SoC Change Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3872,
        5216
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "soc_direction_check",
              "leftValue": "={{ $json.soc_target }}",
              "rightValue": "={{ Number($('Call Gather HA States').item.json.master_soc_target.state) }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e68914e4-9ddd-4861-9970-ab9c73f7db74",
      "name": "Check SoC Direction",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4096,
        5216
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "upsert",
        "entityId": "input_number.master_soc_target",
        "state": "={{ $json.soc_target }}"
      },
      "id": "d5f500be-5a9e-4848-bc7c-4dd6b101c2a9",
      "name": "Increase SoC Target",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4304,
        5136
      ],
      "executeOnce": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "upsert",
        "entityId": "input_number.master_soc_target",
        "state": "={{ $json.soc_target }}"
      },
      "id": "5d920ea2-1a4e-459e-bc2c-2573019883d0",
      "name": "Decrease SoC Target",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4304,
        5312
      ],
      "executeOnce": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "=🔋 SoC target increased to {{ $('Controller').item.json.soc_target }}% at {{ $now.format('HH:mm') }}"
            }
          ]
        }
      },
      "id": "096fdaed-e9b9-4d4f-912b-d11b55c9d7ed",
      "name": "Notify SoC Increase",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4496,
        5136
      ],
      "executeOnce": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "=🔋 SoC target reduced to {{ $('Controller').item.json.soc_target }}% at {{ $now.format('HH:mm') }}"
            }
          ]
        }
      },
      "id": "a8d34758-b7b4-45c2-9ea7-d70576bd272b",
      "name": "Notify SoC Decrease",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4496,
        5312
      ],
      "executeOnce": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "export_already_set_check",
              "leftValue": "={{ $('Call Gather HA States').item.json.WorkMode.state }}",
              "rightValue": "Export First",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "29a3ebb6-00e7-4247-bf72-9a71559bc591",
      "name": "If Export Already Set",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4016,
        4144
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "select",
        "service": "select_option",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "select.inverter_work_mode"
            },
            {
              "name": "option",
              "value": "Export First"
            }
          ]
        }
      },
      "id": "ed5717c8-4d1c-4a07-a705-96fa0a91415c",
      "name": "Set Export Mode",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4240,
        4160
      ],
      "executeOnce": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "=⚡ Battery export started! Selling to grid at {{ $('Call Gather HA States').item.json.GetNordpoolNow_state_1_1 }}SEK/kWh {{ $now.format('HH:mm') }} "
            }
          ]
        }
      },
      "id": "4a07730f-dfa7-433f-977f-6b0e001a48ce",
      "name": "Notify Export Started",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4592,
        4160
      ],
      "executeOnce": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8946838d-88e7-42ee-b147-edaf030a40e7",
                    "leftValue": "={{ $json.charge_enabled }}",
                    "rightValue": "Grid Charge Stop",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Charge"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.export_enabled }}",
                    "rightValue": "Grid Export Stop",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "b9a12a97-2e4f-42e4-b0b1-34bb27949c00"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Export"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c5e03d41-dde5-453e-9cf9-f625934bd5a8",
                    "leftValue": "={{ $json.water_enabled }}",
                    "rightValue": "={{ Number($('Call Gather HA States').item.json.helios.attributes.today_schedule [$('ExtractHour').item.json.current_hour].water_temp) }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Heat"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3776,
        5984
      ],
      "id": "65261c67-73fc-4450-9267-dd85d57b8cdc",
      "name": "WhatStop?"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "switch",
        "service": "turn_on",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "switch.inverter_battery_grid_charging"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4272,
        3728
      ],
      "id": "93fb43a5-c84a-4be3-9f92-7f84f1e26ffd",
      "name": "ChargeFromGrid1",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Stop/Reset X Mode",
        "height": 1024,
        "width": 1088,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        5536
      ],
      "typeVersion": 1,
      "id": "30dd6366-0d97-4029-ae66-674044076239",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "export_already_set_check",
              "leftValue": "={{ $('Call Gather HA States').item.json.grid_charging.state }}",
              "rightValue": "on",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "366a95aa-81af-483e-b576-5c0b05b301e3",
      "name": "If Charge Already Set",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4048,
        3728
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "🔋 Battery Grid Charging Started at  {{ $('Call Gather HA States').item.json.GetNordpoolNow_state_1_1 }}SEK/kWh {{ $now.format('HH:mm') }} "
            }
          ]
        }
      },
      "id": "e0b8f34e-92fe-447e-9fab-3baa8fd3791b",
      "name": "Notify Grid Charging Started",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4464,
        3728
      ],
      "executeOnce": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "content": "## MANUAL SELL",
        "height": 416,
        "width": 1088,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        2784
      ],
      "typeVersion": 1,
      "id": "9d61ace0-eaa5-4352-b78f-40e97c4dba2e",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## MANUAL HEAT",
        "height": 416,
        "width": 1088,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        3248
      ],
      "typeVersion": 1,
      "id": "03e2b7b0-c58e-4aba-bfda-62758f356143",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## AI SoC",
        "height": 432,
        "width": 1088,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        5072
      ],
      "typeVersion": 1,
      "id": "48cb9ea2-4997-4b44-81b2-d353a8e6a97f",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## AI Enable Export",
        "height": 496,
        "width": 1088,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        4064
      ],
      "typeVersion": 1,
      "id": "41ccaed4-85de-4979-ba17-972494b74cf4",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## AI Enable Charge",
        "height": 368,
        "width": 1088,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        3680
      ],
      "typeVersion": 1,
      "id": "25d4be66-538c-4928-b4b1-ffb15cc60d63",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        5072
      ],
      "id": "1ed2d57f-3572-4acb-a839-b1a05cb44332",
      "name": "Timer 5min"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cfd0d9d4-c56b-481f-88f4-05d1ddcdb50b",
              "leftValue": "={{ $json.override_needed }}",
              "rightValue": "Failed",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2768,
        5184
      ],
      "id": "f0fdd379-7459-4017-92df-259526b5c7b0",
      "name": "Smart System Controller1"
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "upsert",
        "entityId": "input_number.master_soc_target",
        "state": "={{ $('Controller').item.json.soc_target }}"
      },
      "id": "829ba2c6-b57a-4697-9a07-17c5598aa041",
      "name": "Set SoC Export Limit",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4416,
        4160
      ],
      "executeOnce": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "select",
        "service": "select_option",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "select.inverter_work_mode"
            },
            {
              "name": "option",
              "value": "Zero Export To CT"
            }
          ]
        }
      },
      "id": "07633fa5-324c-4b78-b672-6f9239e07caf",
      "name": "Stop Export",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4240,
        5824
      ],
      "executeOnce": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "switch",
        "service": "turn_off",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "switch.inverter_battery_grid_charging"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4240,
        5632
      ],
      "id": "d226bf98-2734-401f-b474-5d567506fe92",
      "name": "Stop Grid Charge",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "⛔ Grid Charging Has Been Stopped {{ $now.format('HH:mm') }}"
            }
          ]
        }
      },
      "id": "4ca64d64-8e18-4d5b-9e0a-ee48a7d7edd7",
      "name": "Notify Stopped Grid Charge",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4432,
        5632
      ],
      "executeOnce": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "⛔ Grid Export Has Been Stopped {{ $now.format('HH:mm') }}"
            }
          ]
        }
      },
      "id": "b2bab255-cac8-4553-bf1c-d0164bce088b",
      "name": "Notify Export Stopped",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4432,
        5824
      ],
      "executeOnce": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "export_already_set_check",
              "leftValue": "={{ $('Call Gather HA States').item.json.grid_charging.state }}",
              "rightValue": "off",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2ff4ff6e-4fe5-486f-802c-b6d31a5e450b",
      "name": "If Charge Already Set4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4032,
        5648
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "export_already_set_check",
              "leftValue": "={{ $('Call Gather HA States').item.json.WorkMode.state }}",
              "rightValue": "Zero Export To CT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e13c3cb6-1839-4332-904c-036ba10c0d6b",
      "name": "If Export Already Set4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4032,
        6000
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "❄️ Stopped Heating Water {{ $now.format('HH:mm') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4432,
        6160
      ],
      "id": "2036b9aa-f982-4bd5-9964-d9cbc6694b68",
      "name": "Notify Stopped4",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "upsert",
        "entityId": "input_number.vvbtemp",
        "state": "40"
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4240,
        6160
      ],
      "id": "637dcc9a-4d2a-47d9-b096-7fa50b15036e",
      "name": "DisableWaterHeater2",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "898b1f2e-011c-46d9-9c6f-ba0f537dcd10",
              "leftValue": "={{ Number($('Call Gather HA States').item.json.vvbtemp.state) }}",
              "rightValue": 40,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4032,
        6176
      ],
      "id": "bcbc6b57-5a90-4f9f-a2ee-04814b5fb272",
      "name": "Check If Change Needed13"
    },
    {
      "parameters": {
        "content": "## MANUAL BUY",
        "height": 416,
        "width": 1088,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        2320
      ],
      "typeVersion": 1,
      "id": "ef9b13e9-2bc9-4bc4-a606-0893ad297abd",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "switch",
        "service": "turn_on",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "switch.inverter_battery_grid_charging"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4224,
        2384
      ],
      "id": "52304fdf-c12f-4827-8c2e-6400ba2057af",
      "name": "Grid Charging ON",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "switch",
        "service": "turn_off",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "switch.inverter_battery_grid_charging"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4224,
        2560
      ],
      "id": "84427ac8-b875-430c-b08f-ca1cf8191566",
      "name": "Grid Charging OFF",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "Manual Charging from grid activated {{ $now.format('HH:mm') }} "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4608,
        2384
      ],
      "id": "5849ce96-b533-43f8-9890-71bf51cc13ec",
      "name": "NotifyCharging",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "033a7208-96ff-4c46-8c73-b56fd26bfbf1",
              "leftValue": "={{ JSON.stringify($('Call Gather HA States').item.json.manual_buy_1h) }}",
              "rightValue": "{\"state\":\"active\"}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3760,
        2464
      ],
      "id": "890e1061-6cbe-40ca-bb5d-f57cce0f04ae",
      "name": "If Manual Buy Active1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "export_already_set_check",
              "leftValue": "={{ $('Call Gather HA States').item.json.max_current.state }}",
              "rightValue": "={{ $json.export_current_A }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "835ee451-5c10-43be-9d01-7028f9c188ce",
      "name": "If Current Already Set",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4016,
        4320
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "=⚡ Battery Max Current Set! {{ $json.state }}A at:{{ $now.format('HH:mm') }} "
            }
          ]
        }
      },
      "id": "641859b6-37f1-4220-949c-ee3a28cdb35d",
      "name": "Notify Current Set",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4592,
        4336
      ],
      "executeOnce": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "export_already_set_check",
              "leftValue": "={{ $('Call Gather HA States').item.json.max_current.state }}",
              "rightValue": 180,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4c36c67-3cd1-4e48-9a35-7fc0f3ac7e38",
      "name": "If Current Already Set1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4240,
        5984
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "number",
        "service": "set_value",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "number.inverter_battery_max_discharging_current"
            },
            {
              "name": "value",
              "value": "={{ $json.export_current_A }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4240,
        4336
      ],
      "id": "5c09fafd-2389-498b-943d-ea5cacea5b42",
      "name": "Set Max Current1",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18d5d373-628b-40ce-a38c-90e5c2162291",
              "leftValue": "={{ $('Call Gather HA States').item.json.grid_charging_state }}",
              "rightValue": "on",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4000,
        2368
      ],
      "id": "1e6a3289-4fec-4a68-aaf4-f0398748aa53",
      "name": "If Already Importing"
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "upsert",
        "entityId": "input_number.master_soc_target",
        "state": "100"
      },
      "id": "66a89251-da19-4561-b784-f1ac556bf603",
      "name": "Set SoC 100",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4416,
        2384
      ],
      "executeOnce": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "Stopped Manual Grid Charge {{ $now.format('HH:mm') }} "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4624,
        2560
      ],
      "id": "1ad9cf25-44a7-456b-87be-3ad746dcaf7b",
      "name": "Stopp Charge Noti",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18d5d373-628b-40ce-a38c-90e5c2162291",
              "leftValue": "={{ $('Call Gather HA States').item.json.grid_charging_state }}",
              "rightValue": "on",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4000,
        2560
      ],
      "id": "4bc0e269-007e-4754-b255-36cae32882a9",
      "name": "If Grid Charge Cleanup Needed?1"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "number",
        "service": "set_value",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "number.inverter_battery_max_discharging_current"
            },
            {
              "name": "value",
              "value": "=180"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4432,
        6000
      ],
      "id": "1d76351b-8836-419c-92b2-9eba722076ca",
      "name": "Set Normal Current",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "upsert",
        "entityId": "input_number.master_soc_target",
        "state": "10"
      },
      "id": "bc08cf48-bb36-4ec4-9d9b-d10a9c4e9c09",
      "name": "Reset SoC to 10",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4416,
        2560
      ],
      "executeOnce": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "v4SFcdru4lqKe17T",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "override_type": "={{ $json.override_type }}",
            "WorkMode_state": "={{ $('Call Gather HA States').item.json.WorkMode.state }}",
            "actions_grid_charging": "={{ $('Override').item.json.actions.grid_charging }}",
            "actions_work_mode": "={{ $('Override').item.json.actions.work_mode }}",
            "actions_water_temp": "={{ $('Override').item.json.actions.water_temp }}",
            "actions_soc_target": "={{ $('Override').item.json.actions.soc_target }}",
            "grid_charging_state": "={{ $('Call Gather HA States').item.json.grid_charging.state }}",
            "vvbtemp_state": "={{ $('Call Gather HA States').item.json.vvbtemp.state }}",
            "master_soc_target_state": "={{ $('Call Gather HA States').item.json.master_soc_target.state }}"
          },
          "matchingColumns": [
            "override_type",
            "WorkMode_state",
            "actions_grid_charging",
            "actions_work_mode",
            "actions_water_temp",
            "actions_soc_target",
            "grid_charging_state",
            "vvbtemp_state",
            "master_soc_target_state"
          ],
          "schema": [
            {
              "id": "override_type",
              "displayName": "override_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WorkMode_state",
              "displayName": "WorkMode_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "actions_grid_charging",
              "displayName": "actions_grid_charging",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "actions_work_mode",
              "displayName": "actions_work_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "actions_water_temp",
              "displayName": "actions_water_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "actions_soc_target",
              "displayName": "actions_soc_target",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "grid_charging_state",
              "displayName": "grid_charging_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vvbtemp_state",
              "displayName": "vvbtemp_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "master_soc_target_state",
              "displayName": "master_soc_target_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3008,
        5312
      ],
      "name": "Call Helios System Controller Override",
      "id": "5e5d558a-8d18-4a54-9d4a-8719a45376ec"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5wqqfNQlSG2soyLs",
          "mode": "list",
          "cachedResultName": "Helios Bot States"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1488,
        5072
      ],
      "name": "Call Helios Bot States",
      "id": "91c3ef9f-a93c-4f1c-ae34-4d6331e77ceb"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "=🔋 Battery Charge Current Changed To: {{ $('Controller').item.json.charge_current_A }}A at {{ $now.format('HH:mm') }}  "
            }
          ]
        }
      },
      "id": "2426cc1e-8669-44b6-a321-417f05726470",
      "name": "Notify Current Change",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4464,
        3904
      ],
      "executeOnce": false,
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "export_already_set_check",
              "leftValue": "={{ $('Call Gather HA States').item.json.grid_charging_current }}",
              "rightValue": "={{ $json.charge_current_A }}",
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "64bb26c8-94bf-4e47-bf91-5c810b744729",
      "name": "If Current Already Set2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4048,
        3904
      ],
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3776,
        3808
      ],
      "id": "72720f4f-5a3e-48ac-b6c9-64052ae4da3c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3776,
        4224
      ],
      "id": "7130bed2-0ea8-4825-a120-a0575996cd31",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "helios-execute",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        5264
      ],
      "id": "bdb29247-e607-4ff8-ad0d-4a6671fba528",
      "name": "Webhook",
      "webhookId": "2f9537e1-9f2e-4cd6-a273-6f1bf66fc79e"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// HELIOS CONTROLLER v3.1 - Execute DB Slot Plan\n// Purpose: Read slot plan, set SoC target, calculate charge current, output control flags\n// Last Updated: 2025-01-21\n// \n// Changes in v3.1:\n// - Fixed initialization order for isHeatingWater\n// - Use worst-case voltage (46V) for current calculations\n// - Max out current at 190A for >=8kW targets\n// - Fixed headroom calculation to not double-count water heater\n// ========================================\n\nconst CONFIG = {\n  battery_capacity_kwh: 27,        // Usable capacity\n  system_voltage_V: 48,             // Nominal (but use 46V for worst case)\n  worst_case_voltage_V: 46,         // Minimum voltage for current calculations\n  min_charge_A: 10,\n  max_charge_A: 190,\n  round_step_A: 5,\n  write_threshold_A: 5,\n  inverter_ac_limit_kw: 8.8,\n  charge_efficiency: 0.92,\n  water_temp_normal: 60,\n  water_temp_off: 40,\n  min_soc_target: 15\n};\n\n// --- INPUT DATA ---\nconst overrideData = $input.first().json;\nconst haData = $('Call Gather HA States').first().json;\n\n// Check if override is active\nif (overrideData.override_needed && overrideData.override_type !== \"none\") {\n  // Override active - pass through override actions\n  return [{\n    json: {\n      source: \"override\",\n      soc_target: overrideData.actions.soc_target || 10,\n      charge_enabled: overrideData.actions.grid_charging || false,\n      export_enabled: false,\n      water_enabled: overrideData.actions.water_temp ? true : false,\n      water_temp: overrideData.actions.water_temp || CONFIG.water_temp_off,\n      charge_current_A: 0,\n      write_charge_current: false,\n      export_current_A: 0,\n      write_export_current: false,\n      reason: `Override: ${overrideData.reason}`,\n      flags: {\n        override_active: true,\n        override_type: overrideData.override_type\n      }\n    }\n  }];\n}\n\n// --- SLOT PLAN (from Override passthrough) ---\nconst slot = overrideData.slot_plan;\n\nif (!slot || !overrideData.slot_valid) {\n  // No valid slot - idle mode\n  return [{\n    json: {\n      source: \"fallback_idle\",\n      soc_target: CONFIG.min_soc_target,\n      charge_enabled: false,\n      export_enabled: false,\n      water_enabled: false,\n      water_temp: CONFIG.water_temp_off,\n      charge_current_A: 0,\n      write_charge_current: false,\n      export_current_A: 0,\n      write_export_current: false,\n      reason: \"No valid slot - idle\",\n      flags: {}\n    }\n  }];\n}\n\n// Parse slot values\nconst chargeKw = parseFloat(slot.charge_kw) || 0;\nconst exportKw = parseFloat(slot.export_kw) || 0;\nconst waterKw = parseFloat(slot.water_kw) || 0;\nconst socTarget = parseInt(slot.soc_target) || 12;\n\n// --- DETERMINE ACTION (moved up before headroom calculation) ---\nconst isCharging = chargeKw > 0;\nconst isExporting = exportKw > 0;\nconst isHeatingWater = waterKw > 0;\n\n// Current state\nconst socNow = parseFloat(haData.SoC?.attributes?.['BMS SOC'] || haData.SoC?.state || 50);\nconst loadPowerW = parseFloat(haData.LoadPower?.state || 0);\nconst vvbPowerW = parseFloat(haData.VVBPower?.state || 0);\nconst currentSetA = parseFloat(haData['number.inverter_battery_max_charging_current']?.state || 0);\n\n// Calculate live AC headroom\n// Don't double-count water heater if it's part of the plan\nconst baseLoadKw = loadPowerW / 1000;  // House load only\nconst waterHeaterKw = isHeatingWater ? waterKw : (vvbPowerW / 1000);  // Planned or observed\nconst dynamicHeadroomKw = Math.max(0, CONFIG.inverter_ac_limit_kw - baseLoadKw - waterHeaterKw);\n\n// Initialize control variables\nlet chargeEnabled = false;\nlet exportEnabled = false;\nlet waterEnabled = false;\nlet waterTemp = CONFIG.water_temp_off;\nlet chargeCurrentA = 0;\nlet writeChargeCurrent = false;\nlet exportCurrentA = 0;\nlet writeExportCurrent = false;\nlet reason = \"\";\n\n// PRIORITY 1: Charging\nif (isCharging) {\n  chargeEnabled = true;\n  \n  // Calculate charge current from kW target\n  const targetKw = Math.min(chargeKw, dynamicHeadroomKw);\n  \n  // If we want max power (>=8kW), just set max current to handle voltage variations\n  let requiredA;\n  if (targetKw >= 8.0) {\n    requiredA = CONFIG.max_charge_A;  // 190A to ensure we get full power\n  } else {\n    // For lower power, calculate with worst case voltage\n    requiredA = (targetKw * 1000) / CONFIG.worst_case_voltage_V;\n    requiredA = Math.max(CONFIG.min_charge_A, Math.min(CONFIG.max_charge_A, requiredA));\n  }\n  \n  // Stop charging if already at target\n  if (socNow >= socTarget - 0.5) {\n    requiredA = 0;\n    chargeEnabled = false;\n    reason += \"Charge target reached | \";\n  }\n  \n  chargeCurrentA = Math.round(requiredA / CONFIG.round_step_A) * CONFIG.round_step_A;\n  writeChargeCurrent = Math.abs(chargeCurrentA - currentSetA) >= CONFIG.write_threshold_A;\n  \n  reason += `Charging: ${chargeKw} kW → ${chargeCurrentA} A (target SoC ${socTarget}%) | `;\n}\n\n// PRIORITY 2: Exporting\nelse if (isExporting) {\n  exportEnabled = true;\n  \n  // Calculate discharge current from kW target\n  const targetKw = Math.min(exportKw, dynamicHeadroomKw);\n  \n  // If we want max power (>=8kW), just set max current\n  let requiredA;\n  if (targetKw >= 8.0) {\n    requiredA = CONFIG.max_charge_A;  // 190A for max discharge\n  } else {\n    // For lower power, calculate with worst case voltage\n    // For discharge, inverter efficiency matters (DC must provide more)\n    const targetKwDC = targetKw / CONFIG.charge_efficiency;  \n    requiredA = (targetKwDC * 1000) / CONFIG.worst_case_voltage_V;\n    requiredA = Math.max(0, Math.min(CONFIG.max_charge_A, requiredA));\n  }\n  \n  // Stop exporting if already at floor\n  if (socNow <= socTarget + 0.5) {\n    requiredA = 0;\n    exportEnabled = false;\n    reason += \"Export floor reached | \";\n  }\n  \n  exportCurrentA = Math.round(requiredA / CONFIG.round_step_A) * CONFIG.round_step_A;\n  \n  // Read current export current setting\n  const currentExportSetEntity = haData['number.inverter_battery_max_discharging_current'];\n  const currentExportSetA = currentExportSetEntity?.state ? parseFloat(currentExportSetEntity.state) : null;\n  \n  // Only write if entity exists and difference is significant\n  writeExportCurrent = currentExportSetA !== null && \n                        Math.abs(exportCurrentA - currentExportSetA) >= CONFIG.write_threshold_A;\n  \n  reason += `Exporting: ${exportKw} kW → ${exportCurrentA} A (floor SoC ${socTarget}%) | `;\n}\n\n// PRIORITY 3: Water heating\nif (isHeatingWater) {\n  waterEnabled = true;\n  waterTemp = CONFIG.water_temp_normal;\n  reason += `Water heating: ${waterKw} kW | `;\n}\n\n// IDLE: No action\nif (!isCharging && !isExporting && !isHeatingWater) {\n  reason += `Idle (SoC target ${socTarget}%) | `;\n}\n\n// --- OUTPUT ---\nreturn [{\n  json: {\n    source: \"controller\",\n    soc_target: socTarget,\n    charge_enabled: chargeEnabled,\n    export_enabled: exportEnabled,\n    water_enabled: waterEnabled,\n    water_temp: waterTemp,\n    charge_current_A: chargeCurrentA,\n    write_charge_current: writeChargeCurrent,\n    export_current_A: exportCurrentA,\n    write_export_current: writeExportCurrent,\n    reason: reason.trim(),\n    flags: {\n      is_charging: isCharging,\n      is_exporting: isExporting,\n      is_heating_water: isHeatingWater,\n      slot_number: slot.slot_number,\n      slot_start: slot.slot_start\n    },\n    debug: {\n      soc_now: socNow,\n      soc_target: socTarget,\n      charge_kw: chargeKw,\n      export_kw: exportKw,\n      water_kw: waterKw,\n      headroom_kw: dynamicHeadroomKw.toFixed(2),\n      current_set_A: currentSetA,\n      target_kw: isCharging ? Math.min(chargeKw, dynamicHeadroomKw) : \n                 isExporting ? Math.min(exportKw, dynamicHeadroomKw) : 0\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3008,
        5056
      ],
      "id": "ea7055ec-41a4-47e2-b5b5-31173ec08c0e",
      "name": "Controller"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// HELIOS REAL-TIME OVERRIDE LOGIC - v2 (DB Slot)\n// ========================================\n\n// --- CONFIGURATION THRESHOLDS ---\nconst EMERGENCY_THRESHOLDS = {\n  // Battery Conditions  \n  BATTERY_CRITICAL_HIGH: 99,\n  BATTERY_CRITICAL_LOW: 20,\n  \n  // Power Thresholds (Watts)\n  PV_EXCESS_EMERGENCY: 2000,\n  PV_EXCESS_OPPORTUNITY: 1500,\n  \n  // Price Thresholds (SEK/kWh)\n  PRICE_EMERGENCY_HIGH: 13.0,\n  PRICE_EXPORT_GOOD: 2.5,\n  PRICE_HEAT_FROM_GRID: 1.8,\n  \n  // Temperature Thresholds (°C)\n  WATER_TEMP_MIN: 40,\n  WATER_TEMP_MAX: 85,\n  WATER_TEMP_OPTIMAL: 60,\n  PV_MIN_FOR_HEATING: 2500,\n\n  min_soc_target: 15\n};\n\n// --- DATA GATHERING ---\nconst haData = $('Call Gather HA States').first().json;\nconst currentSlot = $('Read Current Slot').first()?.json || null;\nconst currentHour = new Date().getHours();\n\n// Extract key metrics\nconst currentSoC = parseFloat(haData.SoC?.attributes?.['BMS SOC'] || haData.SoC?.state || 50);\nconst pvPower = parseFloat(haData.PVPower?.state || 0);\nconst loadPower = parseFloat(haData.LoadPower?.state || 0);\nconst vvbPower = parseFloat(haData.VVBPower?.state || 0);\nconst currentPrice = parseFloat(haData.Nordpool_import?.state || 1.5);\nconst waterTemp = parseFloat(haData.vvbtemp?.state);\nconst workMode = haData.WorkMode?.state || \"Zero Export To CT\";\nconst cheapHours = haData.cheap_hours_today || [];\nconst awayMode = haData.away_mode?.state === \"on\";\nconst pvForecastToday = parseFloat(haData.PVLeftToday?.state || 0);\n\n// Calculate net PV excess\nconst netPvExcess = pvPower - loadPower - vvbPower;\n\n// --- SLOT VALIDATION ---\nconst slotExists = currentSlot !== null && typeof currentSlot === 'object';\n\n// Parse DB values (strings → numbers)\nlet currentChargeKw = null;\nlet currentExportKw = null;\nlet currentWaterKw = null;\nlet socTarget = null;  // ← NEW SCHEMA\n\nif (slotExists) {\n  currentChargeKw = parseFloat(currentSlot.charge_kw);\n  currentExportKw = parseFloat(currentSlot.export_kw);\n  currentWaterKw = parseFloat(currentSlot.water_kw);\n  socTarget = parseInt(currentSlot.soc_target);  // ← Parse soc_target\n}\n\nconst slotValid = slotExists && (\n  Number.isFinite(currentChargeKw) &&\n  Number.isFinite(currentExportKw) &&\n  Number.isFinite(currentWaterKw) &&\n  Number.isFinite(socTarget)  // ← Check soc_target instead\n);\n\nconst slotValidation = {\n  slot_exists: slotExists,\n  slot_valid: slotValid,\n  slot_reasonable: slotValid ? (\n    socTarget >= 0 && socTarget <= 100  // ← Simple range check\n  ) : false\n};\n\n// --- REAL-TIME OVERRIDE DETECTION ---\nlet overrides = {\n  override_needed: false,\n  override_type: \"none\",\n  slot_valid: slotValidation.slot_exists && slotValidation.slot_valid,\n  reason: \"\",\n  actions: {},\n  priority: 0\n};\n\n// ===========================================\n// OVERRIDE CONDITIONS\n// ===========================================\n\n// OVERRIDE 0: Low SoC Export Prevention \nif (\n  currentExportKw > 0 &&\n  currentSoC <= 20\n) {\n  overrides = {\n    override_needed: true,\n    override_type: \"low_soc_export_prevention\",\n    priority: 8.5,\n    reason: `OVERRIDE: Plan wants to export (${currentExportKw} kW), but SoC is at floor (${currentSoC}%). Preventing export.`,\n    actions: {\n      work_mode: \"Zero Export To CT\",\n      soc_target: CONFIG.min_soc_target,\n      grid_charging: false\n    }\n  };\n}\n\n// OVERRIDE 1: Excess PV heating logic with SoC hysteresis\nelse if (\n  (waterTemp === 85 && currentSoC >= 96 && pvForecastToday > 5) ||\n  (currentSoC >= 99 && pvForecastToday > 6) ||\n  (netPvExcess > EMERGENCY_THRESHOLDS.PV_EXCESS_EMERGENCY && currentSoC >= 95)\n) {\n  overrides = {\n    override_needed: true,\n    override_type: \"excess_pv_heating\",\n    priority: 7,\n    reason: `Excess PV - SoC ${currentSoC}%, PV left ${pvForecastToday} kWh, net excess ${netPvExcess} W`,\n    actions: {\n      water_temp: 85,\n      soc_target: 95\n    }\n  };\n}\n\n// ===========================================\n// SLOT FAILURE FALLBACK MODES\n// ===========================================\n\nelse if (!overrides.slot_valid) {\n  \n  // FALLBACK 1: Cheap hours heating\n  if (cheapHours.includes(currentHour) && waterTemp < (awayMode ? 50 : 60)) {\n    overrides = {\n      override_needed: true,\n      override_type: awayMode ? \"away_mode_heating\" : \"cheap_hours_heating\",\n      priority: 4,\n      reason: `FALLBACK: ${awayMode ? 'Away mode' : 'Normal'} heating (cheap hour ${currentHour}) - Slot failed`,\n      actions: {\n        water_temp: awayMode ? 50 : 60,\n        soc_target: CONFIG.min_soc_target\n      }\n    };\n  }\n  \n  // FALLBACK 2: Grid charging during cheap hours\n  else if (cheapHours.includes(currentHour) && currentSoC < 80) {\n    const tomorrowPV = parseFloat(haData.PV_Garage_Tomorrow_state || 0) + parseFloat(haData.PV_Roof_Tomorrow_state || 0);\n    const estimatedDailyConsumption = 25;\n    const energyDeficit = estimatedDailyConsumption - tomorrowPV - (currentSoC * 0.192);\n    \n    if (energyDeficit > 3 && currentPrice < 1.2) {\n      overrides = {\n        override_needed: true,\n        override_type: \"cheap_hours_charging\",\n        priority: 5,\n        reason: `FALLBACK: Cheap charging (hour ${currentHour}) - Slot failed, deficit ${energyDeficit.toFixed(1)}kWh`,\n        actions: {\n          grid_charging: true,\n          soc_target: 85\n        }\n      };\n    }\n  }\n  \n  // FALLBACK 3: Idle\n  if (!overrides.override_needed) {\n    overrides = {\n      override_needed: true,\n      override_type: \"idle\",\n      priority: 1,\n      reason: `SLOT FAILED: ${!slotValidation.slot_exists ? 'No data' : !slotValidation.slot_valid ? 'Invalid' : 'Unreasonable'} - Idle`,\n      actions: {}\n    };\n  }\n}\n\n// ===========================================\n// DIAGNOSTIC INFO\n// ===========================================\n\nconst diagnostics = {\n  timestamp: new Date().toISOString(),\n  current_conditions: {\n    soc: currentSoC,\n    pv_power: pvPower,\n    load_power: loadPower,\n    net_pv_excess: netPvExcess,\n    price: currentPrice,\n    water_temp: waterTemp,\n    work_mode: workMode,\n    hour: currentHour\n  },\n  slot_status: slotValidation,\n  current_slot_plan: slotValid ? {\n    charge_kw: currentChargeKw,\n    export_kw: currentExportKw,\n    water_kw: currentWaterKw,\n    soc_target: socTarget\n  } : null,\n  override_decision: {\n    needed: overrides.override_needed,\n    type: overrides.override_type,\n    priority: overrides.priority\n  }\n};\n\n// ===========================================\n// RETURN RESULTS\n// ===========================================\n\nreturn {\n  ...overrides,\n  slot_plan: currentSlot,\n  slot_valid: overrides.slot_valid,\n  diagnostics: diagnostics,\n  current: {\n    soc: currentSoC,\n    pv_excess: netPvExcess,\n    price: currentPrice,\n    water_temp: waterTemp,\n    hour: currentHour\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        5184
      ],
      "id": "6437c871-f2b5-4fa3-997f-3fea07269350",
      "name": "Override"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "number",
        "service": "set_value",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "number.inverter_battery_grid_charging_current"
            },
            {
              "name": "value",
              "value": "={{ $('Controller').item.json.charge_current_A }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        4272,
        3904
      ],
      "id": "954d2657-f0b7-4da0-a3e5-dd1fe97a4fbc",
      "name": "Set Current",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  slot_number,\n  slot_start,\n  charge_kw,\n  export_kw,\n  water_kw,\n  soc_target,\n  soc_projected\nFROM current_schedule\nWHERE slot_start <= NOW()\n  AND slot_start > DATE_SUB(NOW(), INTERVAL 15 MINUTE)\nORDER BY slot_start DESC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1824,
        5072
      ],
      "id": "2b427281-9580-491e-bcfc-a55cb25747ba",
      "name": "Read Current Slot",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "nqzx5YYvKxlc3G9G",
          "name": "Helios DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Update commitment statuses based on current time\nUPDATE energy_commitments \nSET status = CASE\n    -- Currently charging\n    WHEN status IN ('planned', 'charging') \n         AND NOW() >= charge_start_time \n         AND NOW() <= charge_end_time \n    THEN 'charging'\n    \n    -- Charging complete, waiting for export\n    WHEN status IN ('planned', 'charging', 'charged') \n         AND NOW() > charge_end_time \n         AND NOW() < export_start_time \n    THEN 'charged'\n    \n    -- Currently exporting\n    WHEN status IN ('planned', 'charging', 'charged', 'exporting') \n         AND NOW() >= export_start_time \n         AND NOW() <= export_end_time \n    THEN 'exporting'\n    \n    -- Export complete\n    WHEN status IN ('planned', 'charging', 'charged', 'exporting') \n         AND NOW() > export_end_time \n    THEN 'completed'\n    \n    -- Keep current status if none of the above\n    ELSE status\nEND\nWHERE status NOT IN ('completed', 'cancelled')\n  AND created_at >= DATE_SUB(NOW(), INTERVAL 48 HOUR);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2128,
        6176
      ],
      "id": "a0050fff-e407-4b28-82a4-52e73372681a",
      "name": "Update Commit",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "nqzx5YYvKxlc3G9G",
          "name": "Helios DB"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "mobile_app_sebastians_iphone",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "=⚠️ Helios Executor Failed! OVERRIDE ACTIVATED ⚠️"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        3008,
        5520
      ],
      "id": "071358c0-1bdc-4e66-a620-6d083cbd3c48",
      "name": "Failed",
      "credentials": {
        "homeAssistantApi": {
          "id": "7ZrqrNAyWNO7xuYy",
          "name": "Home Assistant account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "ExtractHour": {
      "main": [
        [
          {
            "node": "Call Gather HA States",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AutomationToggle": {
      "main": [
        [
          {
            "node": "IsAutomationOn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsAutomationOn": {
      "main": [
        [
          {
            "node": "Get Date & Time",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Date & Time": {
      "main": [
        [
          {
            "node": "ExtractHour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gather HA States": {
      "main": [
        [
          {
            "node": "Call Helios Bot States",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Work Mode Export": {
      "main": [
        [
          {
            "node": "NotifySelling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WorkModeZeroExport": {
      "main": [
        [
          {
            "node": "StoppedSelling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Manual Override": {
      "main": [
        [
          {
            "node": "If Manual Sell Active",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Manual Heating Active",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Manual Buy Active1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Override",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Manual Sell Active": {
      "main": [
        [
          {
            "node": "If Already Exporting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Sell Cleanup Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Already Exporting": {
      "main": [
        [],
        [
          {
            "node": "Work Mode Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Manual Heating Active": {
      "main": [
        [
          {
            "node": "If Already Heating",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Heating Cleanup Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Already Heating": {
      "main": [
        [],
        [
          {
            "node": "Heat70",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Heating": {
      "main": [
        [
          {
            "node": "Notify Stopped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heat70": {
      "main": [
        [
          {
            "node": "Notify Heating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Heating Cleanup Needed?": {
      "main": [
        [
          {
            "node": "Stop Heating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Sell Cleanup Needed?": {
      "main": [
        [
          {
            "node": "WorkModeZeroExport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Current Action": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check If Change Needed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check If SoC Change Needed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatStop?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Change Needed": {
      "main": [
        [
          {
            "node": "Check Direction",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "SetWaterHeaterTarget": {
      "main": [
        [
          {
            "node": "Notify Heating2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DisableWaterHeater": {
      "main": [
        [
          {
            "node": "Notify Stopped2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Direction": {
      "main": [
        [
          {
            "node": "SetWaterHeaterTarget",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DisableWaterHeater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If SoC Change Needed": {
      "main": [
        [
          {
            "node": "Check SoC Direction",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Check SoC Direction": {
      "main": [
        [
          {
            "node": "Increase SoC Target",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decrease SoC Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increase SoC Target": {
      "main": [
        [
          {
            "node": "Notify SoC Increase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decrease SoC Target": {
      "main": [
        [
          {
            "node": "Notify SoC Decrease",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Export Already Set": {
      "main": [
        [],
        [
          {
            "node": "Set Export Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Export Mode": {
      "main": [
        [
          {
            "node": "Set SoC Export Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatStop?": {
      "main": [
        [
          {
            "node": "If Charge Already Set4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Export Already Set4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check If Change Needed13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChargeFromGrid1": {
      "main": [
        [
          {
            "node": "Notify Grid Charging Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Charge Already Set": {
      "main": [
        [
          {
            "node": "ChargeFromGrid1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Timer 5min": {
      "main": [
        [
          {
            "node": "AutomationToggle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart System Controller1": {
      "main": [
        [
          {
            "node": "Controller",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Helios System Controller Override",
            "type": "main",
            "index": 0
          },
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set SoC Export Limit": {
      "main": [
        [
          {
            "node": "Notify Export Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Export": {
      "main": [
        [
          {
            "node": "Notify Export Stopped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Grid Charge": {
      "main": [
        [
          {
            "node": "Notify Stopped Grid Charge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Charge Already Set4": {
      "main": [
        [
          {
            "node": "Stop Grid Charge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Export Already Set4": {
      "main": [
        [
          {
            "node": "Stop Export",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Current Already Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DisableWaterHeater2": {
      "main": [
        [
          {
            "node": "Notify Stopped4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Change Needed13": {
      "main": [
        [
          {
            "node": "DisableWaterHeater2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grid Charging ON": {
      "main": [
        [
          {
            "node": "Set SoC 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grid Charging OFF": {
      "main": [
        [
          {
            "node": "Reset SoC to 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Manual Buy Active1": {
      "main": [
        [
          {
            "node": "If Already Importing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Grid Charge Cleanup Needed?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Current Already Set": {
      "main": [
        [],
        [
          {
            "node": "Set Max Current1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Current Already Set1": {
      "main": [
        [],
        [
          {
            "node": "Set Normal Current",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Max Current1": {
      "main": [
        [
          {
            "node": "Notify Current Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Already Importing": {
      "main": [
        [],
        [
          {
            "node": "Grid Charging ON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set SoC 100": {
      "main": [
        [
          {
            "node": "NotifyCharging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NotifyCharging": {
      "main": [
        []
      ]
    },
    "If Grid Charge Cleanup Needed?1": {
      "main": [
        [
          {
            "node": "Grid Charging OFF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Stopped Grid Charge": {
      "main": [
        []
      ]
    },
    "Notify Export Stopped": {
      "main": [
        []
      ]
    },
    "Set Normal Current": {
      "main": [
        []
      ]
    },
    "Reset SoC to 10": {
      "main": [
        [
          {
            "node": "Stopp Charge Noti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Helios Bot States": {
      "main": [
        [
          {
            "node": "Read Current Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Current Already Set2": {
      "main": [
        [
          {
            "node": "Set Current",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "If Current Already Set2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Charge Already Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "If Export Already Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Current Already Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AutomationToggle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Controller": {
      "main": [
        [
          {
            "node": "Execute Current Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Override": {
      "main": [
        [
          {
            "node": "Smart System Controller1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Current": {
      "main": [
        [
          {
            "node": "Notify Current Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Current Slot": {
      "main": [
        [
          {
            "node": "If Manual Override",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Stockholm",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "aa3e3c15-d9a3-4787-9e04-c247b0f2e81e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "422cc71e41a54773c474144cf1f2a32036db9ee2bbcaa92ab1d885102afa0e25"
  },
  "id": "sYa4TBbZHyuycw8v",
  "tags": []
}